<div id="control">
	<div id="mySidenav" class="sidenav">
	  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
	  <a href="/">Home</a>
	  <a href="/generate">Generate Passwords</a>
	  <a href="/manage">Manage Passwords</a>
	  <a href="/breach">Breach Logs</a>
	</div>
</div>

<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>