<head>
	<title>{{title}}</title>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<style>

		body {
		  font-family: "Lato", sans-serif;
		}

		.sidenav {
		  height: 100%;
		  width: 0;
		  position: fixed;
		  z-index: 1;
		  top: 0;
		  left: 0;
		  background-color: #111;
		  overflow-x: hidden;
		  transition: 0.5s;
		  padding-top: 60px;
		}

		.sidenav a {
		  padding: 8px 8px 8px 32px;
		  text-decoration: none;
		  font-size: 25px;
		  color: #818181;
		  display: block;
		  transition: 0.3s;
		}

		.sidenav a:hover {
		  color: #f1f1f1;
		}

		.sidenav .closebtn {
		  position: absolute;
		  top: 0;
		  right: 25px;
		  font-size: 36px;
		  margin-left: 50px;
		}

		@media screen and (max-height: 450px) {
		  .sidenav {padding-top: 15px;}
		  .sidenav a {font-size: 18px;}
		}

		.welcome {
			position: absolute;
			top: 10%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		.logo {
			display: block;
			margin-left: auto;
			margin-right: auto;
			width: 30%;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		.page-title {
			font-size: 50px;
			position: absolute;
			top: 20%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		.page-info {
			font-size: 36px;
			position: absolute;
			top: 30%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		.generate-password {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			display: inline-block;
			padding: 15px 25px;
			font-size: 24px;
			cursor: pointer;
			text-align: center;
			text-decoration: none;
			outline: none;
			color: #fff;
			background-color: #7cd1f9;
			border: none;
			border-radius: 15px;
			box-shadow: 0 9px #999;
		}

		.generate-password:hover {background-color: #7cd1f8}

		.generate-password:active {
		background-color: #7cd1f8;
		box-shadow: 0 5px #666;
		}

	</style>

</head>