<div id="title" >
	<h1 class="page-title">Generate A Password</h1>
	<p class="page-info">Click the button below to generate a random password.</p>
	<button onclick="generatePassword()" id="pass-gen" class="generate-password">Generate</button>
</div>